page-listview {
  .app-font-25 ion-label{
      white-space: inherit;
      font-size: 25px;
    }
    .buttonframe
    {
       color:color1;
       background-color: transparent !important;

    }
    .item .item-content {
  background-color: transparent !important;
}
}
